/* Global */

/* Atur tinggi penuh untuk elemen html */
html {
    height: 100%;
}

/* Styling untuk body agar tampilan responsif dan menarik */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #fce4ec, #f8bbd0);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Warna khusus untuk thead dengan kombinasi teks putih */
.thead-custom {
    background-color: #c2e7ff; 
    color: rgb(255, 255, 255); 
}

/* Styling link ikon media sosial */
.social-icons a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 30px; 
    margin: 0 10px;
}

/* Efek hover pada ikon media sosial */
.social-icons a:hover {
    color: #555;
}

/* Styling umum untuk heading agar tebal dan konsisten */
h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}

/* Kotak utama pembungkus konten */
.content-wrapper {
    background-color: #cf6f954e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    margin-bottom: 30px;

    min-height: 50vh;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Styling untuk tab yang sedang aktif */
.nav-tabs .nav-link.active {
    background-color: #7f2247;
    color: rgb(0, 0, 0) !important;
    border: none;
    font-weight: bold;
}

/* Styling untuk tab yang tidak aktif */
.nav-tabs .nav-link {
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    border: none;
}

/* Efek hover pada tab */
.nav-tabs .nav-link:hover {
    color: #ffffff !important;
}

/* Background keseluruhan nav tab */
.nav-tabs {
    background-color: #cf6f96 !important;
    border-bottom: none;
}

/* Styling gambar agar tampil bulat dan rapi */
.img-thumbnail {
    border-radius: 45px;
    border: 4px solid #cf6f96;
    width: 250px;    
    height: 320px;   
    object-fit: cover; 
}

/* Header tabel */
.table th {
    font-weight: bold;
    background-color: #7f2247; 
    color: white; 
    font-weight: bold;
    text-align: center;  
}

/* Isi tabel */
.table td {
    padding: 12px 15px; 
    vertical-align: middle;
}

/* Judul card di tengah */
.card-title {
    text-align: center;
    font-weight: bold;
}

/* Isi body card */
.card-body {
    background-color: #cf6f96;
    color: white; 
}

/* Kotak output untuk menampilkan hasil */
#hasilOutput {
    background-color: #cf6f96; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
}
